.form {
  flex-direction: column;
  background-color: #3E6A7A;
  padding: 1.5em;
  border-radius: 0 0 15px 15px;
  font-size: 20px;
}

.form-field {
  width: 100%;
}

.form-field span {
  color: whitesmoke;
}

.form-field-error {
  margin-bottom: 1em;
  font-size: 0.8em;
  color: #EAA597;
}

label span {
  margin-right: 0.5em;
}

button {
  align-self: center;
  border-radius: 5px;
  width: 100%;
  padding: 4px 4px;
  margin: 8px 0;
  display: inline-block;
  border: 0.35em solid rgba(62, 106, 122, 0.452);
}

button:hover {
  background-color: #EAA597;
  color: whitesmoke;
}

input {
  width: 100%;
  padding: 4px 4px;
  margin: 8px 0;
  display: inline-block;
  border: 0.35em solid rgba(62, 106, 122, 0.452);
  border-radius: 15px 0 15px 15px;
  box-sizing: border-box;
}

input:focus {
  background-color: #FFD2C9;
}

input:visited {
  background-color: #FFEEC9;
}

.spinner-border {
  margin: 5px 0 5px 0;
}