body {
  margin: 0;
  font-family: 'EB Garamond', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  position: relative;
  min-height: 100vh;
}

.main-image {
  max-height: 225px;
  float: left;
  margin: 0 20px 5px 0;
  border-radius: 0 15px 15px 15px;
}

.main-image:hover {
  opacity: 0.5;
  -webkit-filter: blur(4px);
  filter: blur(2px);
}